<!DOCTYPE html>
<html lang="en" ng-app="helpersHQ">
<head>
  <meta charset="UTF-8">
  <title>Helpers: Crowdsource every day desktop problems into the cloud.</title>
  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="node_modules/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="dist/dist.js"></script>
</head>
<body>
  <div ng-view></div>
</body>
</html>
