<!DOCTYPE html>
<html lang="en" ng-app="helpersHQ">
<head>
  <meta charset="UTF-8">
  <title>Helpers: Crowdsource every day desktop problems into the cloud.</title>
  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="node_modules/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="node_modules/socket.io-client/socket.io.js"></script>
  <script type="text/javascript" src="dist/dist.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="all" href="/css/vendor/skeleton.css">
  <link rel="stylesheet" media="all" href="/css/vendor/normalize.css">
  <link rel="stylesheet" media="all" href="/css/session.css">
  <link rel="stylesheet" media="all" href="/css/questions.css">
</head>
<body>
  <h1>Helpers.</h1>
  <h2>Your problems solved by anyone.</h2>
  <div ng-view></div>
</body>
</html>
